@import '../../mixins.scss';

.projects{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0;
    h2{
        color: var(--theme);
        text-align: center;
        align-self: center;
        font-size: 3rem;
    }

    .slick-slider{
        width: 800px;
        margin-inline: auto;
        @include lg{
            width: 700px;
        }
        @include md{
            width: calc(100% - 5rem);
        }
    }

    .slick-arrow{
        color: var(--theme-text);
        width: 2.5rem;
        height: 2.7rem;
        transition-duration: .3s;
        &:hover{
            color: var(--theme);
        }
    }

    .slick-prev{
        left: 0;
        transform: translate(-100%, -50%);
        z-index: 2;
    }
    .slick-next{
        right: 0rem;
        transform: translate(100%, -50%);
    }

    // .slick-track{
    //     display: flex!important;
    //     gap: 5rem;
    // }

    .slick-dots{
        bottom: -2rem;
    }

    .slick-dots li{
        width: 0;
        height: 0;
        margin-inline: .8rem;
    }

    .slick-dots li button{
        width: 1rem!important;
        height: 1rem!important;
        padding: 0;
        margin: 0!important;
        border-radius: 50%;
        border: .15rem solid var(--theme-text);
        background-color: var(--theme-text);
    }

    .slick-active button{
        margin: 0!important;
        border-color: var(--theme)!important;
        background-color: transparent!important;
        position: relative;
    }

    .slick-active button div{
        width: .4rem;
        height: .4rem;
        border-radius: 50%;
        background-color: var(--theme);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slick-active button:before{
        display: none!important;
    }
    .slick-dots li button:before{
        display: none!important;
    }

    @include lg{
        padding: 3rem 0;
        gap: 2.5rem;
    }
}