
.dark-light{
    position: fixed;
    top: 8rem;
    right: -13.5rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    transition-duration: .4s;

    .arrow{
        font-size: 1.3rem;
        color: var(--theme-text);
        transition-duration: .4s;
        animation: blink 2s linear forwards infinite;
        &:hover{
            color: var(--theme);
        }
    }

    @keyframes blink {
        0%{
            opacity: 1;
        }
        25%{
            opacity: .5;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }

    button {
        border: none;
        background-color: var(--theme-card);
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 20px var(--theme-shadow);
        font-size: 1.2rem;
        color: var(--theme-text);
    
        .spin{
            transform-origin: 50% 50%;
            animation: spin 1s linear 0s 1;
        }
        @keyframes spin {
            to{
                transform: rotate(360deg);
            }
        }

        &:hover{
            color: var(--theme);
        }
    
    }

    .themes{
        background-color: var(--theme-card);
        height: 2.3rem;
        border-radius: 2rem;
        padding-inline: .7rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        box-shadow: 3px 3px 20px var(--theme-shadow);


        .theme{
            width: 1.3rem;
            height: 1.3rem;
            border: 2px solid transparent;
            border-radius: 50%;
            box-shadow: none;
            transition-duration: .4s;

            &.active{
                border-color: var(--theme-text);
            }
        }
    }
    
}