.ring {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.2rem solid var(--theme);
    position: fixed;
    z-index: 20;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease-out;
}

.center {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--theme);
    position: fixed;
    z-index: 20;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease-in;
}