@import '../../mixins.scss';

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    
    h2{
        font-size: 3rem;
        color: var(--theme);
        margin-bottom: 3rem;
        @include lg{
            margin-bottom: 2.5rem;
        }
    }

    .skill-tool{
        display: flex;
        gap: 8rem;
        margin-bottom: 2rem;
        h3{
            font-size: 1.5rem;
            color: var(--bs-white);
            transition-duration: .4s;
            &.active{
                color: var(--bs-indigo);
            }
            &:hover{
                color: var(--bs-indigo);
            }
        }
        @include sm{
            gap: 4rem;
        }
    }

    .skills-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;

        .skill{
            border-radius: .9rem;
            padding-top: .3rem;
            background-color: var(--theme);
            box-shadow: 0px 3px 6px var(--bs-gray-800);
            transition-duration: .4s;
            &:hover{
                box-shadow: 0px 5px 6px var(--theme);
            }
            .skill-wrapper{
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1.5rem;
                border-radius: .8rem;
                font-weight: 600;
                background-color: var(--bs-dark);
                color: var(--bs-white);
                transition-duration: .4s;
                &:hover{
                    color: var(--theme);
                }
                .name-logo{
                    width: 7rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .5rem;                 
                    svg{
                        font-size: 5rem;
                        @include sm {
                            font-size: 3rem;
                        }
                    }  
                    @include sm {
                        font-size: .8rem;
                        width: 5rem;
                        gap: .3rem;
                    } 
                }
                .progress{
                    width: 5rem;
                    height: 5rem;
                    @include sm{
                        width: 3rem;
                        height: 3rem;
                    }
                }
                @include sm{
                    gap: .5rem;
                    padding: .8rem;
                }
            }
        }
        
        @include lg{
            gap: 2rem;
        }
        @include md{
            gap: 1.5rem;
        }
    }
    .tools-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;

        .tool{  
            border-radius: .9rem;
            padding-top: .4rem;
            background-color: var(--theme);
            box-shadow: 0px 3px 6px var(--bs-gray-800);
            transition-duration: .4s;
            &:hover{
                box-shadow: 0px 5px 6px var(--theme);
            }
            .tool-wrapper{
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1.5rem;
                border-radius: .8rem;
                font-weight: 600;
                background-color: var(--bs-dark);
                color: var(--bs-white);
                transition-duration: .4s;
                &:hover{
                    color: var(--theme);
                }
                .name-logo{
                    width: 7rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .5rem;                 
                    svg{
                        font-size: 5rem;
                        @include sm {
                            font-size: 3rem;
                        }
                    }  
                    @include sm {
                        font-size: .8rem;
                        width: 5rem;
                        gap: .3rem;
                    } 
                }
                @include sm{
                    gap: .5rem;
                    padding: .8rem;
                }
            }
        }

        @include lg{
            gap: 2rem;
        }
        @include md{
            gap: 1.5rem;
        }
    }

    @include lg{
        padding: 3rem 0;
    }
}