@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.header{
    background-color: var(--bs-dark);
    position: sticky;
    top: 0;
    z-index: 1;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .7rem 0;

        .logo{
            font-size: 2rem;
            font-weight: 600;
            span{
                color: var(--theme);
            }
            color: var(--bs-white);
        }

        .menus{
            display: flex;
            align-items: center;
            .menu{
                padding-inline: .8rem;
                color: var(--bs-white);
                font-size: 1.2rem;
                font-weight: 600;
                transition-duration: .4s;
                &.active{
                    color: var(--theme);
                }
                &:hover{
                    color: var(--theme);
                }
            }
        }
    }
}