.footer{  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
    background-color: var(--theme-card);
    .menus{
        display: flex;
        align-items: center;
        .menu{
            padding-inline: .3rem;
            color: var(--theme-text);
            font-size: .9rem;
            font-weight: 600;
            transition-duration: .4s;
            &.active{
                color: var(--theme);
            }
            &:hover{
                color: var(--theme);
            }
        }
    }
    .social-group{
        gap: 1rem;
        // .social-circle{
        //     width: 2rem;
        //     height: 2rem;
        // }
    }
    .dev{
        text-align: center;
        color: var(--theme-text);
        font-size: .9rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            font-size: .8rem;
            color: var(--theme);
            margin-inline: .3rem;
        }
    }
}