$breakpoint-xsm: 480px;
$breakpoint-sm: 586px;
$breakpoint-md: 792px;
$breakpoint-lg: 1060px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

@mixin xsm {
    @media (max-width: $breakpoint-xsm) {
        @content;
    }
}

@mixin sm {
    @media (max-width: $breakpoint-sm) {
        @content;
    }
}

@mixin md {
    @media (max-width: $breakpoint-md) {
        @content;
    }
}

@mixin lg {
    @media (max-width: $breakpoint-lg) {
        @content;
    }
}

@mixin xl {
    @media (max-width: $breakpoint-xl) {
        @content;
    }
}

@mixin xxl {
  @media (max-width: $breakpoint-xxl) {
    @content;
  }
}
